
div
{
	display: flex;
	font-family: "Century Schoolbook", "Arial Black", Arial;
}
#Entete
{
	width: 100%;
	margin: auto;
	border-radius: 8px;
	background-color:rgb(223,244,159);
}

h1#Titre
{
	margin:auto;
	font-size: 4em;
	font-family: "Century Schoolbook", "Arial Black", Arial;
}

header img
{
	height:35%;
	width:15%;
}

.onglet
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap:wrap;
	justify-content: space-between;
	list-style:none;
	width : 80%;
    text-decoration: none;
	margin: auto;
	text-align: center;
	font-family: "Century Schoolbook", "Arial Black", Arial;


}

#actuel
{
	color: rgb(100,100,100);
	background-color: rgb(223,244,159);
}
a
{
	text-decoration: none;
	color: rgb(0,0,0);
}
.onglet .Menu
{
	border:solid 2pt;
	border-radius: 10px;
	border-color:rgb(100,100,100);
	font-size: 1.5em;
	font-family: "Century Schoolbook", "Arial Black", Arial;
	padding-left:1.5em;
	padding-right:1.5em;

}

article
{
	border:solid 2pt;
	border-radius: 10px;
	border-color: rgb(100,100,100);
	font-family: "Century Schoolbook", "Arial Black", Arial;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}

article section img
{
	float: left;
}
#Info
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap:wrap;
	justify-content: space-between;

}
#Test
{
	border-bottom:solid 2pt;
	border-color: rgb(100,100,100);
}

#Stat
{
	width: 20%;

}
#Exam
{

	width:75%;
}
.bouton
{
	border:solid 2pt;
	border-radius: 10px;
	border-color: rgb(100,100,100);
	background-color:rgb(200,200,200);
	padding-left:1.1em;
	padding-right:1.1em;
	font-family: "Century Schoolbook", "Arial Black", Arial;
	font-size: 1.1em;
}
#Parametre
{
	border:solid 1pt;
	border-radius: 10px;
	border-color: rgb(100,100,100);
	background-color:rgb(220,220,220);
	border-align:center;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#zoneReponse{
	width: 300px;
	height: 50px;
	padding: 10px;
	border: 1px solid black;
	margin: 0 auto;
}

#masque
{
    display: none;
    position: fixed;
    height:100%;
	left:0; top:0;
	width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#masque:target
{
	 display: block;
}
@media screen and (max-width: 1024px)
{
	.onglet
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap:wrap;
		justify-content: space-between;
		list-style:none;
		width : 100%;
		text-decoration: none;
		margin: auto;
		text-align: center;
		font-family: "Century Schoolbook", "Arial Black", Arial;
	}
}

.fenetre-modale
{
   font-family: "Century Schoolbook", "Arial Black", Arial;
   font-size: 1.1em;
   background: #fff;
   border: 10 px solid #bbb;
   position:relative;
   margin: auto;
   width: 40%;
   box-shadow: 0px 0px 20px #000;
   border-radius: 5px;
   z-index: 6000;
}

.fermer
{
	position:absolute;
	width:100%;
	height:100%;
	left:0; top:0;
	z-index: 400;
	background-color: rgba(0,0,0,0.5);
}

footer
{
	width: 100%;
	margin: auto;
	border-radius: 8px;
	background-color:rgb(223,244,159);;
	font-family: "Century Schoolbook", "Arial Black", Arial;
	text-align:center;
	font-style:italic;
}
