extends layout

block head
 meta(charset='utf-8')
 link(rel='stylesheet', href='/stylesheets/style.css')
 title #{title}
	
block header
    header
      img(src='/images/logo2.png')
      #Entete
        h1#Titre Accueil
	
block content
    article
      header
        h1  Bienvenue
      section
        p
          | Ce site est un site permettant de tester vos connaissances en HTML, CSS et JavaScript par le biais de tests rapides ou d&apos;examens. Pour plus &apos;informations veuillez consulter 
          a(href='Instruction.html') la page d&apos;instructions
          | .