extends layout

block head
 meta(charset='utf-8')
 link(rel='stylesheet', href='/stylesheets/style.css')
 title #{title}

block header
    header
      img(src='/images/logo2.png', width='100', height='60')
      #Entete
        h1#Titre Examen

block content
    article
      header
        h1  Question n&deg; 2/2 :
      section
        p  Ceci est une deuxi&egrave;me question !
        form(action='/Fin_Examen')
          input(type='checkbox', name='', value='1')
          |  Choix 1 
          br
          |  
          input(type='checkbox', name='', value='2')
          |  Choix 2 
          br
          |  
          input(type='checkbox', name='', value='3')
          |  Choix 3 
          br
          |  
          input(type='checkbox', name='', value='4')
          |  Choix 4 
          br
          br
          |  
          input.bouton(type='submit', value="Terminer l'examen")
      section
        p
          a.bouton(href='/Tableau') Retour au tableau de bord