extends layout

block head
      meta(charset='utf-8')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type='text/javascript', src='/javascripts/Fin.js')
      title #{title}

block header
    header
      img(src='/images/logo2.png', width='100', height='60')
      #Entete
        h1#Titre Fin de l&apos;examen

block content
    article
      header
        h1
          strong L&apos;examen est termin&eacute; !
      section
        p#resultat  F&eacute;licitation vous avez obtenue une note x/2 soit z/20
      section
        p.bouton
          a(href='/Tableau') Retour au tableau de bord