extends layout

block head
 meta(charset='utf-8')
 link(rel='stylesheet', href='/stylesheets/style.css')
 title #{title}

block header
 header
      img(src='/images/logo2.png', width='100', height='60')
      #Entete
        h1#Titre Page d&apos;instructions

block content
    article
      section
        img(src='/images/imageFloat.jpg')
        h1  Tableaux de bord:
        p
          | Le tableau de bord vous permet de connaitre vos prog&egrave;s dans les diff&eacute;rents tests ou examens, en affichant la moyenne obtenue aux examens, le nombre de test r&eacute;ussi sur le nombre total de tests r&eacute;alis&eacute;s ou encore toutes les notes obtenues aux examens
      section
        h1  Test rapide:
        p
          | Le test rapide permet de tester rapidement vos connaissances par le biais de questions sur le HTML, le CSS et le JavaScript vari&eacute;es, vous pouvez arr&ecirc;ter le test &agrave; tout moment en cliquant sur retour au tableau de bord. Pour passer &agrave; la question suivante choisissez le bouton &quot;question suivante&quot;.
      section
        h1  Examen:
        p
          | L&apos;examen a un nombre de question d&eacute;finies avant son commencement et un sujet pr&eacute;cis (HTML, CSS ou JavaScript). Abandonner un examen avant qu&apos;il ne soit engendre la perte des r&eacute;ponses r&eacute;alis&eacute;es auparavent. A la fin de l&apos;examen la note obtenue sera affich&eacute;e.