doctype html
html
  head
   title= title
   link(rel='stylesheet', href='/stylesheets/globale.css')
   script(src='https://code.jquery.com/jquery-3.1.1.js', type='text/javascript')
   block head
  body
   block header
   nav
    ul
     .onglet
        if title == "Accueil"
          li
            a#actuel.Menu(href='/') Accueil
          li
            a.Menu(href='/Tableau') Tableau de bord
          li
            a.Menu(href='/Instruction') Instructions
        else if title == "Tableau de bord"
          li
            a.Menu(href='/') Accueil
          li
            a#actuel.Menu(href='/Tableau') Tableau de bord
          li
            a.Menu(href='/Instruction') Instructions
        else if title == "Instruction"
          li
            a.Menu(href='/') Accueil
          li
            a.Menu(href='/Tableau') Tableau de bord
          li
            a#actuel.Menu(href='/Instruction') Instructions
        else
          li
            a.Menu(href='/') Accueil
          li
            a.Menu(href='/Tableau') Tableau de bord
          li
            a.Menu(href='/Instruction') Instructions
        
   block content
   
   footer
      p
        | Copyright- Tous droits r&eacute;serv&eacute;s
        br
        |  
        a(href='http://www.gmail.com') Nous contacter
