mixin question(quest, estUnExam)
	block question
		span#laQuestion #{quest.question}
		each answer in quest.answers
			input(id=q.answers.indexOf(answer) type='checkbox', value=ques.answers.indexOf(answer), name='answerCheckBox', checked)
			label(for=q.answers.indexOf(answer)) #{answer}
			br
		input(type='hidden', name='questionId', value=quest.id)