extends layout

block head
 meta(charset='utf-8')
 script(type='text/javascript', src='/javascripts/Tableau.js')
 link(rel='stylesheet', href='/stylesheets/style.css')
 
 title #{title}

block header
    header
      img(src='/images/logo2.png', width='100', height='60')
      #Entete
        h1#Titre  Tableau de bord

block content
    #Info
      article#Exam
        section#Test
          h1  R&eacute;aliser un test rapide
          p
            a#btnTest.bouton(href='/Test') C&apos;est parti !
        section
          h1  R&eacute;aliser un examen officiel
          form(action='/Examen')
            p Param&egrave;tres de l&apos;examen :
            fieldset
              label(for='matieres') Mati&egrave;res:
              |  
              select#matieres
                option(value='HTML') HTML
                option(value='CSS') CSS
                option(value='JavaScript') JavaScript
              br
              |  
              label(for='nbQuest') Nombre de questions :
              |  
              input(id='nbQuest', type='number', min='1', step='1', required='')
              br
              br
              br
              |  
              input#btnExamen.bouton(type='submit', value="Débuter l'examen",  onclick="saveData($('#nbQuest').val(),$('#matieres').val())")
              br
            br
            br
      article#Stat
        h1  Stats
        p#ResRapide
          | Test rapides r&eacute;ussis : x / y tests r&eacute;alis&eacute;s
          br
          |  Moyenne obtenue aux examens : x / 20
          br
        p.bouton.sta
          a(href='#masque') D&eacute;tails
        p.bouton.resetStats Remise à zéro
        #masque
          a.fermer(href='#')
          .fenetre-modale(a='')
            div
              p#NotesObtenues
                | Notes obtenues aux examens:
                br
                br
                |  12/20
                br
                |  14/20
                br
                |  2/20
                br
        // #masque