extends layout

block head
 meta(charset='utf-8')
 link(rel='stylesheet', href='/stylesheets/style.css')
 script(type='text/javascript', src='/javascripts/Test.js')
 title #{title}

block header
    header
      img(src='/images/logo2.png', width='100', height='60')
      #Entete
        h1#Titre  Test rapide

block content
     article
      header
        h1  Question:
      section
        p  
            span#q Ceci est la premi&egrave;re question !
        form(name='formulaire', action='/Test')
          input(type='checkbox', name='check1', value='1')
          span#r1(draggable='true', ondragstart='dragDebut(event)', ondragend='dragFin(event)') Choix 1 
          br
          |  
          input(type='checkbox', name='check1', value='2')
          span#r2(draggable='true', ondragstart='dragDebut(event)', ondragend='dragFin(event)') Choix 2 
          br
          |  
          input(type='checkbox', name='check1', value='3')
          span#r3(draggable='true', ondragstart='dragDebut(event)', ondragend='dragFin(event)') Choix 3 
          br
          |  
          input(type='checkbox', name='check1', value='4')
          span#r4(draggable='true', ondragstart='dragDebut(event)', ondragend='dragFin(event)') Choix 4 
          br
		  
          p#rep Glisser votre réponse
          #zoneReponse(ondrop='drop(event)', ondragover='allowDrop(event)')
          br
          |  
          input#btnNext.bouton(type='submit', value='Question suivante')
      section
        p
          a#btnTableauDeBord.bouton(href='/Tableau') Retour au tableau de bord
